*{
    font-family: "SF Pro Display";
}
html, body { 
    margin:0;
    padding:0;
    overflow:hidden;
}
.background{
    color-scheme: light dark;
    height: 100vh;
}
svg{
    position: fixed;
    bottom: 0;
    z-index: -1;
}
.arc-text{
    color: black;
    text-shadow: 0 0 20px #659ff0, 0 0 30px #b5d4ff, 0 0 40px #3e7ed7, 0 0 50px #2781ff, 0 0 60px #ededed, 0 0 70px #ffffff, 0 0 80px #ffffff;
  }
.flow-text{
  /* background: linear-gradient(#00186f, #020E39); */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: black;
  text-shadow: 0 0 20px #659ff0, 0 0 30px #b5d4ff, 0 0 40px #3e7ed7, 0 0 50px #2781ff, 0 0 60px #ededed, 0 0 70px #ffffff, 0 0 80px #ffffff;
}
.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar {
    height: 50px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    display: block;
    border-radius: 9999px;
    position: relative;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
    opacity: 0.95;
    backdrop-filter: blur(15px);
    display: block;
    padding-top: 15px;
    text-align: center;
  }
  
  .navbar .logo1 a {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    text-decoration: none;
  }
  
  .navbar ul li a {
    padding: 0.25em 1em 0.25em 1em;
    color: #6e7485;
    text-decoration: none;
    transition: 300ms;
    }
  
  .navbar a:hover {
    color: black;
    transition: 300ms;
    font-size: 1rem;
  }
  .navbar a{
    transition: 300ms;
  }
  .navbar .logo1{
    position: absolute;
    left: 25px;
  }
  .navbar .active{
    background-color: #F3F4F6;
    color: black;
    border-radius: 9999px;
  }

@media (prefers-color-scheme: light) {
    .background {
        background: linear-gradient(#4583CC, #FEFEFE 90%);
    }
  }
  
@media (prefers-color-scheme: dark) {
    .background {
        background: linear-gradient(#1A1036 5%,#3d1c98 30%, #7859D0 70%);
    }
    .navbar{
      background-color: #030712;
      opacity: 0.85;
    }
    .navbar ul li a{
      color: white;
    }
    .navbar a:hover{
      color: #acacac;
    }
    .navbar .logo1 .a{
      color: white;
    }
    .navbar .active{
      color: #ffffff;
      background-color: #1f2733;
    }
  }
